<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="30">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.vivek" level="DEBUG" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <logger name="jdbc.sqlonly" level="info" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
        <logger name="org.hibernate" level="info" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
        <Root level="WARN">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
